<!--<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>-->

<!-- <app-like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></app-like> -->

<!-- Directives-->
<!-- <div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length == 0">
    No courses yet
</div> -->

<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of course, using a ng template</ng-template>
<ng-template #noCourses>No Courses yet, dang</ng-template>

<div><p>
    Using the hidden tag
</p></div>

<div [hidden]="courses.length == 0">
    List of courses using the hidden tag
</div>

<div [hidden]="courses.length > 0">
    No courses using the hidden tag
</div> -->

<!-- If you want to compare the value of a field or property against multiple values, use the ngswitch directive  -->
<!-- <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<br>
<br>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let animal of animals; even as isEven">
       {{animal.name}} <span *ngIf="isEven">(EVEN)</span>
       <button (click)="onRemove(animal)">Remove</button>
       <button (click)="onChange(animal)">UPDATED</button>
    </li>
</ul> -->
<br><br><br>
<!--If you are dealing with a large list with complex markup and are observing performance issues, you can use trackBy
so the list isn't re-rendered unnecesarily-->
<!-- <button (click)="loadAnimals()">Load Courses</button>
<ul>
    <li *ngFor="let animal of animals; trackBy: trackAnimal">
        {{animal.name}}
    </li>
</ul> -->

<!--When you use the star *   in *ngIf.....-->
<!-- <div *ngIf="animals.length > 0; else noAnimals">
    List of animals
</div>
<ng-template #noAnimals><div>
    donde esta mi animals
</div></ng-template> -->

<!--.....angular rewrites it like this-->
<!-- <ng-template [ngIf]="animals.length > 0">
    <div>
        List of animals
    </div>
</ng-template> -->

<!-- <ng-template [ngIf]="!(animals.length > 0)">
    <div>
    No Animals
    </div>
</ng-template>

<h2>ngStyle</h2>
<button
    [style.backgroundColor]="canSave ? 'blue' : 'gray'"
    [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ? 'bold': 'normal'"
    
    >Change the canSave variable on the component to alter the style</button>
<br><br>
<button
[ngStyle]="{
    'backgroundColor': canSave ? 'green': 'gray',
    'color': canSave ? 'white' : 'pink'
}">This uses ngStyle to do the same thing</button>


<br>
<br>

<p>Using ngIf to handle null/undefined</p>
<span *ngIf="task.assignee">{{task.assignee.name}}</span>
<br>
<p>Using safe traversal operator (?) in task.assignee?.name2 to ignore it if its null</p>
<span>{{ task.assignee.name2 }}</span>

<h2>Creating Custom Directives</h2><br><br>
<input type="text" appInputFormat="'uppercase'">

<zippy title="Shipping Detials">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy> --> 

<contact-form></contact-form>